*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
vsp-framework/.gitignore
vsp-framework/.git
vsp-framework/.gitmodules
vsp-framework/libs/wpsf/.gitignore
vsp-framework/libs/wpsf/.gitmodules
vsp-framework/libs/wpsf/.git
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

